<div class="container">
  
  <div class="row pt-5">
      <div class="col-md-4"> 
          <div class="card shadow " style="display:table!important;">
            <div class="card-body" style="padding:0!important">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                    <th>Keg</th>
                    <th>% left</th>
                    <th>Change Details</th>
                    <th>View Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let amountGraph of network.amountGraph; let i = index">
                    <td scope="row"> {{amountGraph.name}}</td>
                    <td>{{amountGraph.value |number }}</td>
                    <td><button type="button" name="" id="" class="btn btn-primary btn-sm btn-block" (click)="open(content, i, 0)">Change Keg </button></td>
                    <td><button type="button" name="" id="" class="btn btn-primary btn-sm btn-block" (click)="open(content1, i, 1)">See Keg</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <app-graphs
            [network]="network"
            ></app-graphs>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Keg Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="beerName" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Keg Name here">
          </div>
        <div class="form-group">
          <label for="">Size</label>
          <input [(ngModel)]="beerSize" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Keg Size here">
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)='resetKeg()' >Reset Keg</button>
      <div class = "col-md-7"></div>
      <button type="button" class="btn btn-outline-dark" (click)='changeName()'>Submit</button>
    </div>
  </ng-template>

  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Keg Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body" style="padding:0!important">
        <table class="table table-striped table-responsive" style="margin-bottom: 0!important; display:table !important">
            <tbody>
              <tr>
                <th scope="row"> Name</th>
                <td>{{kegObject.name}}</td>
              </tr>
              <tr>
                <th scope="row">Last Change</th>
                <td>{{kegObject.lastReset}}</td>
              </tr>
              <tr>
                <th scope="row">Size</th>
                <td>{{kegObject.size}} L</td>
              </tr>
              <tr>
                <th scope="row">Amount Left</th>
                <td>{{kegObject.amountRemaining | number : '1.2'}} %</td>
              </tr>
              <tr>
                  <th scope="row">Room Temperature</th>
                  <td>{{kegObject.temperature | number : '1.2'}} C</td>
              </tr>
              <tr>
                  <th scope="row">Battery Percentage</th>
                  <td>{{kegObject.voltage | number : '1.2'}} %</td>
              </tr>
            </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      
    </div>
  </ng-template>
  
  