/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
.primaryC{
    background-color:/* #936A4A */ #e9d700!important;
}
.secondaryC{
    background-color: #B85750!important;
}
.accentC{
    background-color: #2ab7ca!important;
}
.contrastC{
    background-color: #301F0D!important;
}
.btn-primary{
    background-color: black!important;
    border-color: black!important;
    color: white!important
}