<div class="container-fluid mt-5">
  <!--Padding the top-->
  <div class="h-100 row">
    <!--Adding a spacer to put login object in center of screen-->
    <div class="col-md-4"></div>
    <!--Login object-->
    <div class="col-md-4">
      <div class="card shadow">
          <div class="card-header accentC">
              <div class="card-title">Login</div>
          </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Username" formControlName="username">
                  <div *ngIf="submitted && f.username.errors?.required">Username is required</div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control"  placeholder="Password" formControlName="password">
                <div *ngIf="submitted && f.password.errors?.required">Password is required</div>
              </div>
              <div class="form-group">
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="rememberme">
                      <label class="custom-control-label" for="customCheck1">Remember me</label>
                  </div>
                </div>
              <button type="submit" class="btn btn-primary" >Login</button>
            </form>
            </div>
        </div>
      </div>
    </div>
</div>
