<div class="container">
 <div class="row">
   <div class="col-md-12">
      <div class="card shadow">
        <div class="card-header accentC">
          <div class="row">
              <div class="col-md-3" style = "margin-top:2.0rem!important;">
                  <div class="form-group">
                      <select class="form-control" id="exampleSelect1" [(ngModel)]="graphOption">
                        <option>Total Sales</option>
                        <option>Trend</option>
                        <option>Amount Left</option>
                        <option>Battery</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-3" style = "margin-top:2.0rem!important;">
                    <div class="form-group" *ngIf="graphOption==='Total Sales' || graphOption==='Trend' ">
                        <select class="form-control" id="exampleSelect1" [(ngModel)]="timePeriod">
                          <option>1 Hour</option>
                          <option>1 Day</option>
                          <option>1 Week</option>
                          <option>1 Year</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-3" style = "margin-top:2.0rem!important;">
                      <div class="form-group" *ngIf="timePeriod !== '1 Hour' && graphOption==='Total Sales' || timePeriod !== '1 Hour' && graphOption==='Trend' ">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3" style = "margin-top:2.0rem!important;">
                      <button type="button" name="" id="" class="btn btn-primary btn-md btn-block" (click)='onSubmit()'>Submit</button>
                  </div>
              </div>
            </div>
            
        <div class="card-body">
          <h4 class="card-title">{{graphOption}}</h4>
          <ngx-charts-pie-chart *ngIf= "graphOption === 'Total Sales'"
            (window:resize)="onResize($event)"
            [view] ="view"
            [scheme]="colorScheme"
            [results]="networkObject.saleGraph"
            (select)="onSelect($event)"
            [legend]="showLegend"
            [labels]="showLegend">
        </ngx-charts-pie-chart>
        <ngx-charts-bubble-chart   *ngIf= "graphOption === 'Trend'"
          (window:resize)="onResize($event)"
          [view] ="view"
          [scheme]="colorScheme"
          [results]="networkObject.trendGraph"
          (select)="onSelect($event)"
          [legend]="showLegend"
          [xAxis]="showLegend"
          [yAxis]="showYAxisLabel"
          [showXAxisLabel]="showLegend"
          [showYAxisLabel]="showLegend"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [maxRadius] = "maxRadius"
          [minRadius] = "minRadius"
          [yScaleMin] = "yScaleMin"
          [yScaleMax] = "yScaleMax"
        >
        <ng-template #tooltipTemplate let-model="model" > 
          <span class="tooltip-label">{{model.series}} </span>
          <span class="tooltip-label"><label>Date/Time: </label>  {{model.x | date:'short'}} </span>
          <span class="tooltip-label"><label>Volume Poured: </label>  {{model.radius | number:  '1.2-2'}} L</span>
        </ng-template>
      </ngx-charts-bubble-chart>
        <ngx-charts-bar-horizontal   *ngIf= "graphOption === 'Amount Left'"
          (window:resize)="onResize($event)"
          [view] ="view"
          [scheme]="colorScheme"
          [results]="networkObject.amountGraph"
          (select)="onSelect($event)"
          [legend]="showLegend"
          [xAxis]="showLegend"
          [yAxis]="showLegend"
          [showXAxisLabel]="showLegend"
          [showYAxisLabel]="showLegend"
          [yAxisLabel]="NameyAxisLabel"
          [xAxisLabel]="NamexAxisLabel"
        >
        </ngx-charts-bar-horizontal>
        <ngx-charts-bar-horizontal   *ngIf= "graphOption === 'Battery'"
          (window:resize)="onResize($event)"
          [view] ="view"
          [scheme]="colorScheme"
          [results]="networkObject.batteryGraph"
          (select)="onSelect($event)"
          [legend]="showLegend"
          [xAxis]="showLegend"
          [yAxis]="showLegend"
          [showXAxisLabel]="showLegend"
          [showYAxisLabel]="showLegend"
          [yAxisLabel]="NameyAxisLabel"
          [xAxisLabel]="BatteryxAxisLabel"
        >
        </ngx-charts-bar-horizontal>
        </div>
      </div>
   </div>
 </div>
</div>
