<div *ngIf="isLoggedInLanding$ | async">
  <nav class="navbar navbar-expand-md navbar-light  accentC">
    <a class="navbar-brand" routerLink='/dashboard'>Keg Monitor</a>   
  </nav>
</div>

<div *ngIf="isLoggedInMain$ | async">
  <nav class="navbar navbar-expand-md navbar-light  accentC">
    <a class="navbar-brand" routerLink='/dashboard'>Keg Monitor</a>
      <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink='/dashboard'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav" >
            <li class="nav-item mr-2">
              <h4><i>{{username.name}}</i></h4>
            </li>
            <li class="nav-item">
             <button type="button" class="btn btn-primary secondaryC " (click)='onLogout()'>Logout</button>
            </li>
          </ul>
       </div>  
  </nav>
</div>