<div class="container">
<div class="row pt-5">
  <div class="col-md-4"> 
    <div class="card shadow" style="display:table!important;">
      <div class="card-body" style="padding:0!important;">
      <table class="table table-striped ">
        <thead class="thead-inverse">
          <tr>
            <th>Location</th>
            <th>Graph</th>
            <th>Details</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let network of dashboard.network" >
              <td scope="row">{{network.name}}</td>
              <td><button type="button" name="" id="" class="btn btn-primary btn-sm btn-block" (click)="showGraph(network)">Show Graph</button></td>
              <td> <button type="button" name="" id="" class="btn btn-primary btn-sm btn-block"(click)= "navLocation(network.network,network.name)" >See Location</button></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
      <app-graphs
      [network]="currentGraph"
      ></app-graphs>

  </div>

</div> 
</div>
